.env
__pycache__/
*.pyc
*.pyo
*.pyd
/data/
/.pytest_cache/
.vscode/
build/
dist/
*.db
*.sqlite
*.sqlite3
*.log
.coverage
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
.streamlit/secrets.toml
whisper.cpp/
